  <div class="col-lg-6">
<div class="block-st1">
                            <h2>TRA Websites Conformity</h2>
                            <div class="horizintal-bar-st1">
                                <div class="title mb5">Website 1</div>
                                <div class="bar-st1">
                                    <div class="bar-pers" data-bind="style: { width:web1Conformity }" >
                                        <div class="bar-txt">
                                            <div class="text"> <span data-bind="text: web1Conformity"></span> </div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizintal-bar-st1">
                                <div class="title mb5">Website 2</div>
                                <div class="bar-st1">
                                <div class="bar-pers" data-bind="style: { width:web2Conformity }" >
                                        <div class="bar-txt">
                                            <div class="text"> <span data-bind="text: web2Conformity"></span> </div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizintal-bar-st1">
                                <div class="title mb5">Website 3</div>
                                <div class="bar-st1">
                                <div class="bar-pers" data-bind="style: { width:web3Conformity }" >
                                        <div class="bar-txt">
                                            <div class="text"> <span data-bind="text: web3Conformity"></span> </div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizintal-bar-st1">
                                <div class="title mb5">Website 4</div>
                                <div class="bar-st1">
                                <div class="bar-pers" data-bind="style: { width:web4Conformity }" >
                                        <div class="bar-txt">
                                            <div class="text"> <span data-bind="text: web4Conformity"></span> </div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizintal-bar-st1">
                                <div class="title mb5">Website 5</div>
                                <div class="bar-st1">
                                <div class="bar-pers" data-bind="style: { width:web5Conformity }" >
                                        <div class="bar-txt">
                                            <div class="text"> <span data-bind="text: web5Conformity"></span> </div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         </div>